html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 0px;
}

.fixed-height {
  max-height: 445px; /* Set your desired height */
  max-width: 700px;
  overflow-y: scroll;
  border: 1px solid #ccc; /* Optional: for visual clarity */
  background-color: #f5f5f5; /* Optional: background color for the code box */
}

.grid {
  display: grid;
  grid-template-columns: repeat(20, 25px);
  grid-template-rows: repeat(20, 25px);
}

.cell {
  width: 25px;
  height: 25px;
  border: 1px solid #ddd;
  text-align: center;
}

.start {
  background-color: green;
}

.end {
  background-color: red;
}

.visited {
  background-color: lightblue;
}

.path {
  background-color: yellow;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  position: relative;
}
.close {
  color: #aaa;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}