@page

@{
    ViewData["Title"] = "Welcome page";
}

<header class="bg-primary text-white text-center py-3">
    <div class="container">
        <h1 class="display-4">Ласкаво просимо до Візуалізатора Алгоритмів</h1>
        <p class="lead">Досліджуйте, вчіться та покращуйте свої знання з програмування!</p>
    </div>
</header>

<section class="container my-3">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>Що це за веб-застосунок?</h2>
            <p>Суть цього веб-застосуноку полягає в динамічній візуалізації виконання різних алгоритмів. Цей додаток надасть змогу вивчити різноманітні алгоритми, ознайомитися з їх реалізацією на різних мовах програмуваннях, спробувати їх у дії та порівняти їх ефективність.</p>
            <h2>Потенційні сфери застосування:</h2>
            <ul>
                <li>Освіта (використання в навчальних закладах).</li>
                <li>Професійний розвиток (для спеціалістів, які хочуть освіжити свої знання та навички).</li>
                <li>Дослідження (використання в наукових цілях задля дослідження ефективності та властивостей різних алгоритмів сортування та пошуку).</li>
                <li>Проектування та оптимізація програмного забезпечення (розробники програмного забезпечення можуть скористатися цим веб-застосунком для аналізу та вибору оптимальних алгоритмів для своїх проєктів).</li>
            </ul>
        </div>
    </div>
</section>