@page

@{
    ViewData["Title"] = "BFS";
}

<div class="container d-flex flex-column align-items-start">
    <div class="row pb-3" role="group">
        <div class="btn-group col-auto">
            <button id="start" class="btn btn-primary btn-lg mx-1">Start</button>
            <button id="clear" class="btn btn-secondary btn-lg">Clear</button>
        </div>
        <div class="px-5 mx-3 col-auto">
            <button id="theoryButton" class="btn btn-outline-dark btn-lg">Theory</button>
        </div>
    </div>  
    <div class="row pt-3" role="group">
        <div id="grid" class="grid col-auto"></div>
        <div class="col-auto">
            <div class="btn-group mb-2" role="group">
                <button id="showCSharp" class="btn btn-info">C#</button>
                <button id="showJS" class="btn btn-info mx-1">JS</button>
                <button id="showPython" class="btn btn-info">Python</button>
            </div>
            <pre id="codeBox" class="line-numbers fixed-height"></pre>
        </div>
    </div>
</div>

<div id="theoryModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Breadth-first search</h2>
        <p>Breadth-first search (BFS) is a method used for exploring a graph or a tree. The name "breadth-first" comes from the way it explores nodes: it starts at the root node (or any node given), explores all the neighboring nodes at the present depth level before moving on to nodes at the next depth level.</p>
        <img src="~/images/pathfinding/bfs.png" alt="BFS Visualization" style="width:100%;height:auto;">
    </div>
</div>

<script>
document.getElementById('theoryButton').onclick = function() {
    document.getElementById('theoryModal').style.display = "block";
}

document.querySelector('.modal .close').onclick = function() {
    document.getElementById('theoryModal').style.display = "none";
}

window.onclick = function(event) {
    if (event.target == document.getElementById('theoryModal')) {
        document.getElementById('theoryModal').style.display = "none";
    }
}
</script>

<script src="~/js/pathfinding/bfs.js"></script>
